__pycache__/
.DS_Store
.idea/
.Python
.vscode/
*.dll
*.dylib
*.exe
*.log
*.o
*.py[cod]
*.so
*.swo
*.swp
*.user
*~
*$py.class
build-asan/
build/
cmake-build-*/
generated_images/
hfdown
prompts.txt
resource_metrics/
test_api
test_direct
test_download*/*
test_http
test_http3
test_https
test_rsync
test_server_data_benchmark/
test_server_data/
vastai_config.json